go 1.26.3

use (
	.
	./examples/chat-server
	./examples/generate-text
	./examples/streaming-cli
	./examples/structured-output
	./examples/tools-agent
	./middleware/agentobservability
	./middleware/enrichment
	./middleware/logger
	./middleware/prometheus
	./providers/anthropic
	./providers/bedrock
	./providers/grafana
	./providers/openai
	./providers/openai-compatible
	./test/conformance
	./test/integration/testserver
	./test/interop/testserver
)
